<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.main.account.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.main.account.entity.dto.Account">
        <id column="id" property="id" />
        <result column="email" property="email" />
        <result column="username" property="username" />
        <result column="avatar" property="avatar" />
        <result column="deleted" property="deleted" />
        <result column="enable" property="enable" />
        <result column="current_team_id" property="currentTeamId" />
        <result column="current_project_id" property="currentProjectId" />
        <result column="active" property="active" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, email, username, avatar, deleted, enable, current_team_id, current_project_id, active
    </sql>
    <select id="findOneByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from account
        where
        username = #{username,jdbcType=VARCHAR}
        and deleted = false
    </select>

    <select id="countByEmail" resultType="int">
        select count(*)
        from account
        where email = #{email,jdbcType=VARCHAR}
        and active = true
        and deleted = false
    </select>

    <select id="countByUsername" resultType="int">
        select count(*)
        from account
        where username = #{username,jdbcType=VARCHAR}
          and active = true
          and deleted = false
    </select>

    <select id="findOneByEmail" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from account
        where
        email = #{email,jdbcType=VARCHAR}
    </select>

    <select id="findByIds" resultType="plus.xyc.server.main.account.entity.dto.Account">
        select
        <include refid="Base_Column_List"/>
        from account
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
