<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.module.mapper.ModuleCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.module.entity.dto.ModuleCount">
        <id column="id" property="id" />
        <result column="module_id" property="moduleId" />
        <result column="code" property="code" />
        <result column="file_id" property="fileId" />
        <result column="total_entry" property="totalEntry" />
        <result column="translated_entry" property="translatedEntry" />
        <result column="verified_entry" property="verifiedEntry" />
        <result column="total_entry_length" property="totalEntryLength" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, module_id, code, file_id, total_entry, translated_entry, verified_entry, total_entry_length
    </sql>

    <select id="findByCountRequest" resultMap="BaseResultMap">
        select
        m.*
        from module_count as m
        left join file as f on m.file_id = f.id
        where m.module_id = #{request.moduleId}
        and f.deleted = false
        <if test="request.branch != null and request.branch != ''">
            and f.name = #{request.branch}
        </if>
        <if test="request.language != null and request.language != ''">
            and m.code = #{request.language}
        </if>
    </select>

    <select id="findOneByModuleIdAndFileIdAndCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from module_count
        where
        module_id = #{moduleId,jdbcType=NUMERIC}
        AND file_id = #{fileId,jdbcType=NUMERIC}
        AND code = #{code,jdbcType=VARCHAR}
    </select>

    <select id="findByModuleId" resultMap="BaseResultMap">
        select m.*
        from module_count as m
        left join file as f on m.file_id = f.id
        where
        m.module_id = #{moduleId,jdbcType=NUMERIC}
        and f.deleted = false
    </select>

    <select id="findByModuleIdIn" resultMap="BaseResultMap">
        select
            mc.*
        from
            module_count as mc,
            file as f
        where
            mc.file_id = f.id
            and mc.module_id in
            <foreach collection="moduleIdList" item="item" open="(" close=")" separator=",">
                #{item,jdbcType=NUMERIC}
            </foreach>
            and f.deleted = 0
    </select>

    <select id="findByModuleIdAndFileIdIn" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            module_count
        where id in (
            select
                max(id)
            from
                module_count
            where
                module_id = #{moduleId,jdbcType=NUMERIC}
              and file_id in
                <foreach collection="fileIdList" item="item" open="(" close=")" separator=",">
                    #{item,jdbcType=NUMERIC}
                </foreach>
            group by
                file_id
        )
    </select>

</mapper>
