<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.branch.mapper.BranchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.branch.entity.dto.Branch">
        <id column="id" property="id" />
        <result column="module_id" property="moduleId" />
        <result column="name" property="name" />
        <result column="is_default" property="isDefault" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, module_id, name, is_default, create_time, update_time, deleted, type
    </sql>

    <select id="all" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from branch
        where module_id = #{request.moduleId}
        and deleted = false
        <if test="request.keyword != null">
            and name like concat('%', #{request.keyword}, '%')
        </if>
    </select>

</mapper>
