<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.main.project.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.main.project.entity.dto.Project">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="owner_id" property="ownerId" />
        <result column="create_time" property="createTime" />
        <result column="team_id" property="teamId" />
        <result column="project_key" property="projectKey" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <resultMap id="ProjectResponseResultMap" type="plus.xyc.server.main.project.entity.response.ProjectResponse">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="owner_id" property="ownerId" />
        <result column="create_time" property="createTime" />
        <result column="team_id" property="teamId" />
        <result column="project_key" property="projectKey" />
        <result column="last_activity_time" property="lastActivityTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, owner_id, create_time, team_id, project_key, deleted
    </sql>

    <select id="findJoin" resultType="plus.xyc.server.main.project.entity.response.ProjectResponse">
        select distinct p.*, pm.type as memberType
        from project as p
        left join project_member as pm on p.id = pm.project_id
        <where>
            pm.account_id = #{userId}
            and p.deleted = false
            and (pm.type in (0, 1))
            <if test="teamId != null">
                and p.team_id = #{teamId}
            </if>
            <if test="keyword != null and keyword != ''">
                and ( p.name like concat('%', #{keyword}, '%') or p.project_key like concat('%', #{keyword}, '%') )
            </if>
        </where>
    </select>

    <select id="findAllByUserId" resultType="plus.xyc.server.main.project.entity.response.ProjectResponse">
        select distinct p.*, pm.type as memberType
        from project as p
        left join project_member as pm on p.id = pm.project_id
        <where>
            pm.account_id = #{userId}
            and p.deleted = false
            and (pm.type in (0, 1, 2))
            <if test="teamId != null">
                and p.team_id = #{teamId}
            </if>
            <if test="keyword != null and keyword != ''">
                and ( p.name like concat('%', #{keyword}, '%') or p.project_key like concat('%', #{keyword}, '%') )
            </if>
        </where>
    </select>

    <select id="findMy" resultType="plus.xyc.server.main.project.entity.response.ProjectResponse">
        select distinct p.*, pm.type as memberType
        from project as p
        left join project_member as pm on p.id = pm.project_id
        <where>
            pm.account_id = #{userId}
            and p.deleted = false
            and (pm.type in (2))
            <if test="teamId != null">
                and p.team_id = #{teamId}
            </if>
            <if test="keyword != null and keyword != ''">
                and ( p.name like concat('%', #{keyword}, '%') or p.project_key like concat('%', #{keyword}, '%') )
            </if>
        </where>
    </select>

    <select id="countByProjectKeyAndDeleted" resultType="int">
        select count(*)
        from project
        where
            project_key = #{projectKey,jdbcType=VARCHAR}
          AND deleted = #{deleted,jdbcType=BOOLEAN}
    </select>

    <select id="countByIdAndOwnerId" resultType="int">
        select count(*)
        from project
        where id = #{id,jdbcType=NUMERIC}
          AND owner_id = #{ownerId,jdbcType=NUMERIC}
    </select>
    <select id="countByTeamIdAndDeleted" resultType="int">
        select count(*)
        from project
        where team_id = #{teamId,jdbcType=NUMERIC}
          AND deleted = #{deleted,jdbcType=BOOLEAN}
    </select>

    <select id="recent" resultMap="ProjectResponseResultMap">
        select p.*, al.time as last_activity_time from project as p
        inner join activity_log as al on p.id = al.item_id
        <where>
            al.action = 1
            and p.deleted = false
            <if test="keyword != null and keyword != ''">
                and ( p.name like concat('%', #{keyword}, '%') or p.project_key like concat('%', #{keyword}, '%') )
            </if>
            <if test="userId != null">
                and al.user_id = #{userId}
            </if>
            and al.time = (
                 select max(time) 
                 from activity_log 
                 where item_id = al.item_id 
                 and action = 1
                 <if test="userId != null">
                     and user_id = #{userId}
                 </if>
             )
        </where>
        order by al.time desc
    </select>

</mapper>
