<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.main.team.mapper.TeamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.main.team.entity.dto.Team">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="owner_id" property="ownerId" />
        <result column="create_time" property="createTime" />
        <result column="key" property="key" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, owner_id, create_time, key
    </sql>

    <select id="findMy" resultType="plus.xyc.server.main.team.entity.dto.Team">
        select t.*
        from team as t
        left join team_member as tm on t.id = tm.team_id
        where tm.account_id = #{userId}
    </select>

</mapper>
