<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.main.team.mapper.TeamMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.main.team.entity.dto.TeamMember">
        <id column="id" property="id" />
        <result column="team_id" property="teamId" />
        <result column="account_id" property="accountId" />
        <result column="join_time" property="joinTime" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, team_id, account_id, join_time, type
    </sql>
    <select id="countByAccountIdAndTeamId" resultType="int">
        select count(*)
        from team_member
        where account_id = #{accountId,jdbcType=NUMERIC}
          AND team_id = #{teamId,jdbcType=NUMERIC}
    </select>

</mapper>
