<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.member.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.member.entity.dto.Member">
        <id column="id" property="id" />
        <result column="module_id" property="moduleId" />
        <result column="account_id" property="accountId" />
        <result column="join_time" property="joinTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, module_id, account_id, join_time
    </sql>

    <select id="findByModuleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from member
        where
        module_id = #{moduleId,jdbcType=NUMERIC}
    </select>
    <select id="countByModuleIdAndAccountId" resultType="int">
        select count(*)
        from member
        where module_id = #{moduleId,jdbcType=NUMERIC}
          AND account_id = #{accountId,jdbcType=NUMERIC}
    </select>

    <select id="query" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from member m
        left join member_role mr on m.id = mr.member_id
        where module_id = #{request.moduleId,jdbcType=NUMERIC}
        <if test="request.type == 'a;;'">
            and mr.role in (1, 2, 3, 4)
        </if>
        <if test="request.type == 'manager'">
            and mr.role in (1, 2)
        </if>
        <if test="request.type == 'translator'">
            and mr.role in (3)
        </if>
        <if test="request.type == 'proofreader'">
            and mr.role in (4)
        </if>
    </select>

</mapper>
