<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.member.mapper.MemberRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.member.entity.dto.MemberRole">
        <id column="id" property="id" />
        <result column="account_id" property="memberId" />
        <result column="role" property="role" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_id, role
    </sql>
    <select id="findByMemberIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from member_role
        where
        account_id in
        <foreach collection="memberIdList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </select>

</mapper>
