<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.member.mapper.MemberInviteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.member.entity.dto.MemberInvite">
        <id column="id" property="id" />
        <result column="module_id" property="moduleId" />
        <result column="token" property="token" />
        <result column="create_time" property="createTime" />
        <result column="creator_id" property="creatorId" />
        <result column="roles" property="roles" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, module_id, token, create_time, creator_id, roles
    </sql>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM member_invite
        WHERE module_id = #{request.moduleId}
        ORDER BY create_time DESC
    </select>

    <select id="findOneByToken" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from member_invite
        where
        token = #{token,jdbcType=VARCHAR}
    </select>

</mapper>
