<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.entry.mapper.EntryResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.entry.entity.dto.EntryResult">
        <id column="id" property="id" />
        <result column="entry_id" property="entryId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="translator_id" property="translatorId" />
        <result column="checker_id" property="checkerId" />
        <result column="update_time" property="updateTime" />
        <result column="verified" property="verified" />
        <result column="language" property="language" />
        <result column="deleted" property="deleted" />
        <result column="verified_time" property="verifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, entry_id, content, create_time, translator_id, checker_id, update_time, verified, language, deleted, verified_time
    </sql>

    <select id="getLastResults" resultMap="BaseResultMap">
        SELECT
        entry.*
        FROM entry_result AS entry
        LEFT JOIN (
            SELECT verified.entry_id, verified.language, MAX(verified.update_time) AS max_verified_update_time
            FROM entry_result AS verified
            WHERE verified.verified = 1
            GROUP BY verified.entry_id, verified.language
        ) AS verified
        ON entry.entry_id = verified.entry_id AND entry.language = verified.language
        WHERE entry.entry_id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND entry.language = #{language}
        AND entry.deleted = 0
        AND (
            entry.update_time = COALESCE(verified.max_verified_update_time, entry.update_time)
            OR verified.entry_id IS NULL
        )
        ORDER BY entry.entry_id, entry.update_time DESC
    </select>

    <select id="getResults" resultMap="BaseResultMap">
        select * from entry_result
        WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND language = #{language}
        and deleted = 0
    </select>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        entry.*
        FROM entry_result AS entry
        WHERE entry.deleted = 0
        <if test="request.entryId != null">
            AND entry.entry_id = #{request.entryId}
        </if>
        <if test="request.language != null">
            AND entry.language = #{request.language}
        </if>
        ORDER BY entry.verified DESC, entry.update_time DESC
    </select>

    <select id="findByEntryIds" resultMap="BaseResultMap">
        SELECT
        entry.*
        FROM entry_result AS entry
        WHERE entry.entry_id IN
        <foreach collection="entryIds" item="entryId" separator="," open="(" close=")">
            #{entryId}
        </foreach>
        AND entry.deleted = 0
    </select>

    <select id="findOneByEntryIdAndLanguageAndContent" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from entry_result
        where
        entry_id = #{entryId,jdbcType=NUMERIC}
        AND language = #{language,jdbcType=VARCHAR}
        AND content = #{content,jdbcType=VARCHAR}
        AND deleted = false
    </select>

    <select id="getLastResult" resultMap="BaseResultMap">
        SELECT
            result.*
        FROM entry_result AS result
        WHERE result.deleted = false
        AND result.entry_id = #{entryId}
        AND result.language = #{language}
        ORDER BY result.verified DESC, result.update_time DESC
        limit 1
    </select>

</mapper>
