<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.entry.mapper.EntryResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.entry.entity.dto.EntryResult">
        <id column="id" property="id" />
        <result column="entry_id" property="entryId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="translator_id" property="translatorId" />
        <result column="checker_id" property="checkerId" />
        <result column="update_time" property="updateTime" />
        <result column="verified" property="verified" />
        <result column="language" property="language" />
        <result column="deleted" property="deleted" />
        <result column="verified_time" property="verifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, entry_id, content, create_time, translator_id, checker_id, update_time, verified, language, deleted, verified_time
    </sql>

</mapper>
