<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.entry.mapper.EntryStateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.entry.entity.dto.EntryState">
        <id column="id" property="id" />
        <result column="entry_id" property="entryId" />
        <result column="language" property="language" />
        <result column="translated" property="translated" />
        <result column="result_id" property="resultId" />
        <result column="verified" property="verified" />
        <result column="translation_time" property="translationTime" />
        <result column="verification_time" property="verificationTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, entry_id, language, translated, result_id, verified, translation_time, verification_time
    </sql>

    <select id="countTranslated" resultType="long">
        select
        count(1) as total
        from entry as e
        left join file f on e.file_id = f.id
        left join entry_state as es on e.id = es.entry_id
        where
        e.deleted = false and f.deleted = false and es.translated = true
        <if test="request.branch != null and request.branch != ''">
            and f.name = #{request.branch}
        </if>
        <if test="request.moduleId != null">
            and e.module_id = #{request.moduleId,jdbcType=NUMERIC}
        </if>
        <if test="request.language != null and request.language != ''">
            and es.language = #{request.language}
        </if>
    </select>

    <select id="countVerified" resultType="long">
        select
        count(1) as total
        from entry as e
        left join file f on e.file_id = f.id
        left join entry_state as es on e.id = es.entry_id
        where
        e.deleted = false and f.deleted = false and es.verified = true
        <if test="request.branch != null and request.branch != ''">
            and f.name = #{request.branch}
        </if>
        <if test="request.moduleId != null">
            and e.module_id = #{request.moduleId,jdbcType=NUMERIC}
        </if>
        <if test="request.language != null and request.language != ''">
            and es.language = #{request.language}
        </if>
    </select>

    <select id="findOneByEntryIdAndLanguage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from entry_state
        where
        entry_id = #{entryId,jdbcType=NUMERIC}
        AND language = #{language,jdbcType=VARCHAR}
    </select>

    <select id="findByEntryIdInAndLanguage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from entry_state
        where
        entry_id in
        <foreach collection="entryIds" item="entryId" open="(" close=")" separator=",">
            #{entryId}
        </foreach>
        AND language = #{language,jdbcType=VARCHAR}
    </select>

</mapper>
