<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.wiki.page.mapper.PageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.wiki.page.entity.dto.Page">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="book_id" property="bookId" />
        <result column="parent_id" property="parentId" />
        <result column="owner" property="owner" />
        <result column="create_time" property="createTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, book_id, parent_id, owner, create_time, deleted
    </sql>

    <select id="findByBookIdAndDeleted" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from page
        where
        book_id = #{bookId,jdbcType=NUMERIC}
        AND deleted = #{deleted,jdbcType=BOOLEAN}
    </select>

    <update id="updateParentIdById">
        update page
        set parent_id = #{parentId,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <update id="updateTitleById">
        update page
        set title = #{title,jdbcType=VARCHAR}
        where id = #{id,jdbcType=NUMERIC}
    </update>

</mapper>
