<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.wiki.page.mapper.PageLastVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.wiki.page.entity.dto.PageLastVersion">
        <id column="id" property="id" />
        <result column="page_id" property="pageId" />
        <result column="version_number" property="versionNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, page_id, version_number
    </sql>

    <select id="findOneByPageId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from page_last_version
        where
        page_id = #{pageId,jdbcType=NUMERIC}
    </select>

</mapper>
