<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.language.mapper.LanguageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.language.entity.dto.Language">
        <id column="id" property="id" />
        <result column="code" property="code" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code
    </sql>

    <select id="selectByLang" resultType="plus.xyc.server.i18n.language.entity.response.LanguageResponse">
        select l.code as code, l.id as id, ln.name as name
        from language l
        left join language_name ln on ln.language_id = l.id
        where ln.code = #{lang}
    </select>

</mapper>
