<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.file.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.file.entity.dto.File">
        <id column="id" property="id" />
        <result column="module_id" property="moduleId" />
        <result column="name" property="name" />
        <result column="upload_time" property="uploadTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="upload_user_id" property="uploadUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="import_config" property="importConfig" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler" />
        <result column="import_status" property="importStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, module_id, name, upload_time, update_time, deleted, upload_user_id, update_user_id, import_config, import_status
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from file
        where module_id = #{request.moduleId}
        and deleted = false
        <if test="request.keyword != null">
            and name like concat('%', #{request.keyword}, '%')
        </if>
    </select>

    <select id="findOneByModuleIdAndNameAndDeleted" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from file
        where module_id = #{moduleId,jdbcType=NUMERIC}
        AND name = #{name,jdbcType=VARCHAR}
        AND deleted = #{deleted,jdbcType=BOOLEAN}
    </select>

</mapper>
