<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.xyc.server.i18n.file.mapper.FileRevisionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.xyc.server.i18n.file.entity.dto.FileRevision">
        <id column="id" property="id" />
        <result column="file_id" property="fileId" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="current" property="current" />
        <result column="message" property="message" />
        <result column="added_size" property="addedSize" />
        <result column="updated_size" property="updatedSize" />
        <result column="deleted_size" property="deletedSize" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_id, create_time, create_user, current, message, added_size, updated_size, deleted_size
    </sql>

</mapper>
